* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
    body {
        font-family: 'Inter', sans-serif;
        color: rgb(0, 0, 0);
        padding: 1rem 1rem 2rem 1rem;
    }

    h1 {
        font-size: 3rem;
    }

    .section-9 h1 {
        text-align: center;
    }

    h2 {
        font-size: 1.9rem;
    }

    .services-1 p {
        font-size: 2rem;
        font-weight: 700px;
        bottom: 1;
        left: 1;
    }

    p {
        font-size: 1.3rem;
        font-weight: 600;
        padding-top: 1rem;
        padding-bottom: 3rem;
    }

    p.section-3 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    img {
        width: 100%;
    }

    div {
        padding: 2rem 2rem;
    }

    .section-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 4rem;
    }

    .section-2-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 4rem;
    }

    .section-3 p {
        text-align: center;
    }

    .section-4-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 4rem;
        padding: 0;
    }

    .section-5 {
        text-align: center;
    }

    .section-6 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 4rem;
        
    }

    .section-7 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 4rem;
    }

    .section-8 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 4rem;
    }

    .section-8 {
        padding: 2rem 2rem;
        justify-items: center;
        align-items: center;
    }

    .section-9 {
        padding: 3rem 0 0 0;
    }

    .services-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        justify-items: center;
        align-items: center;
    }

    .product-showcase {
        background-image: url(picture/product-showcase.jpg);
        background-size: 100%;
        position: relative;
    }
    .company-profile {
        background-image: url(picture/company-profile.jpg);
        background-size: 100%;
        position: relative;
    }
    .about-us {
        background-image: url(picture/about-us.jpg);
        background-size: 200%;
        position: relative;
    }
    .choice-of-materials {
        background-image: url(picture/choice-of-materials.jpg);
        background-size: 100%;
        position: relative;
    }

    .product-showcase > p,
    .company-profile > p,
    .about-us > p,
    .choice-of-materials > p{
        position: absolute;
        bottom: 0;
        padding: 0;
    }

    .product-showcase,
    .company-profile,
    .about-us,
    .choice-of-materials {
        color: white;
        text-transform: uppercase;
        width: 16.15rem;
        height: 21.6rem;
        padding: 0;
        margin: 0;
    }

    .btn-see-product {
        border: 1.5px solid;
        padding: 0.5rem 2.5rem;
    }

    .footer-container {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr;
    }

    footer p, ul {
        font-size: 0.5rem;
        font-weight: 600;
    }

    .blank{
        padding-right: 1rem 2rem 1rem 1rem;
    }

    .info {
        padding: 1rem 1rem 1rem 2rem;
    }

    .about,
    .follow-us {
        padding : 1rem;
    }

    .blank {
        background-color: rgb(220, 220, 220);
        height: 15rem;
    }

    h3 {
        font-weight: 5000;
        font-size: 0.9rem;
    }

    .active, input.text-btn {
        border: none;
    }


    .username{
        display: flex;
        flex-direction: row;
        width: 13%;
        border: none;
        background-color: white;
    }

    .main-header{
        align-items: center;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        padding: 2rem 1rem 2rem 2rem;
    }

    .username{
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    .username > img{
        width: 30%;
    }

    .username > a {
        text-decoration: none;
        color: black;
    }

    .header-list {
        display: flex;
        gap: 2rem;
    }

    a {
        text-decoration: none;
        color: black;
    }

    input {
        border: 1px solid black;
        height: 1rem;
        
    }

    .search-box {
        display: flex;
        position: relative;
        
    }

    .search-input{
        padding: 1rem;
        
    }

    .button-search {
        background-color: white;
        border: none;
        position: absolute;
        right: 40px;
        bottom: 35px;
        cursor: pointer;
    }

    body {
        max-width: 98%;
        margin: 0 auto;
    }

    @media screen and (max-width: 950px) {

        .main-header {
            margin: 0 auto;
        }

        header a,
        header img,
        header input {
            display: none;
        }
        
        h1 {
        font-size: 2rem;
        padding: 1rem 0 1rem 0;
    }

    h2 {
        font-size: 2rem;
        padding: 1rem 0 1rem 0;
    }

    .services-1 p {
        font-size: 1rem;
        font-weight: 700px;
        padding: 1rem 0 1rem 0;
    }

    p {
        font-size: 1rem;
        font-weight: 600;
        padding: 1rem 0 1rem 0;
    }

    p.section-3 {
        font-size: .5rem;
        font-weight: 600;
        padding: 1rem 0 1rem 0;
    }

    .btn-see-product {
        border: 1.5px solid;
        padding: 0.5rem 1.7rem;
        font-size: 0.7rem;
        font-weight: 1000;
    }

    .section-1-1 {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        gap: 1rem;
    }

    .section-1 {
        padding: 1rem 0 1rem 0;
    }

    .section-2-1 {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0 1rem 0;
    }

    .section-3 p {
        text-align: center;
        padding: 1rem 0 1rem 0;
    }

    .section-4-1 {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0 0 0;
    }

    .section-5 {
        text-align: center;
        padding: 1rem 0 3rem 0;
    }

    .section-6 {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        gap: 1rem;
        padding: 1.5rem 0 1.5rem 0;
        
    }

    .section-7 {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        gap: 1rem;
        padding: 1.5rem 0 1.5rem 0;
    }

    .section-8 {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        gap: 1rem;
        padding: 0;
        padding: 1.5rem 0 1.5rem 0;
    }

    .section-9 {
        padding: 3rem 0 4rem 0;
    }

    .section-9 h1 {
        padding: 1rem 0 3rem 0;
    }

    .services-1 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        justify-items: center;
        align-items: center;
        padding: 0;
    }

    #stairs {
        order: -1;
    }

    #chair {
        order: -1;
    }

    .product-showcase {
        background-image: url(picture/product-showcase.jpg);
        background-size: 100%;
        position: relative;
    }
    .company-profile {
        background-image: url(picture/company-profile.jpg);
        background-size: 100%;
        position: relative;
    }
    .about-us {
        background-image: url(picture/about-us.jpg);
        background-size: 200%;
        position: relative;
    }
    .choice-of-materials {
        background-image: url(picture/choice-of-materials.jpg);
        background-size: 100%;
        position: relative;
    }

    .product-showcase,
    .company-profile,
    .about-us,
    .choice-of-materials {
        color: white;
        text-transform: uppercase;
        width: 19.15rem;
        height: 24.6rem;
        padding: 0;
        margin: 0;
    }

    .product-showcase > p,
    .company-profile > p,
    .about-us > p,
    .choice-of-materials > p{
        font-size: 2rem;
        position: absolute;
        bottom: 2rem;
        left: 1.5rem;
        padding: 0;
    }

    div {
        padding: 0;
    }

    footer {
        display: none;
    }

    }